<section>
  <h2>Oh no! Please sign in again to Resync</h2>
  <form name="signinform" data-ng-submit="authctrl.authenticate(authctrl.user)">
    <label for="username">Username:</label>
    <input type="text" required data-ng-model="authctrl.user.username">

    <label for="password">Password:</label>
    <input type="password" required data-ng-model="authctrl.user.password">

    <button type="submit" data-ng-disabled="authform.$invalid">{{ authctrl.buttonText }}</button>
  </form>
  <p>Not a member?<a href="https://www.fitbit.com/oauth2/authorize?response_type=code&client_id=227THV&redirect_uri=https%3A%2F%2Ffit-cliques.herokuapp.com%2Fsignup&scope=activity%20profile&expires_in=604800">Sign up for an Account</a>
  </p>
</section>
